// src/styles/components/_button.scss
@use "../abstracts" as *;

.btn {
  @include button-variant($primary-color);

  &--secondary {
    @include button-variant($secondary-color);
  }

  &--success {
    @include button-variant($success-color);
  }

  &--large {
    padding: map-get($spacings, "md") map-get($spacings, "xl");
    font-size: map-get($font-sizes, "lg");
  }

  &--small {
    padding: map-get($spacings, "xs") map-get($spacings, "sm");
    font-size: map-get($font-sizes, "sm");
  }
}
